.remove-btn {
	margin-right: 0.5rem;
}

.mb-5 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0.01;
	transition: opacity 1000ms ease-in;
}
